html,
body,
#app {
  min-width: 1366px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#index {
  --header-color: rgb(47, 54, 56);
  --header-color-active: rgb(40, 45, 47);

  --aside-color: rgb(31, 34, 36);
  --aside-color-active: rgb(40, 45, 47);

  --article-color: rgb(58, 65, 68);
  --article-color-active: rgb(66, 75, 79);

  --font-color: rgb(202, 212, 212);
  --font-color-active: rgb(255, 255, 255);
}
